BODY
{
	background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/03/02/283837/c80224a52170a32342120ec722001e95.jpg");
	/*  background-position: 100%; */
	background-repeat: no-repeat;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	opacity: 0.8;
	background-size: cover;
	font-family: Montserrat;
	border: 1px solid black;
}
A
{
	/*+placement: 93px 85px;*/
	position: relative;
	left: 93px;
	top: 85px;
}
.add
{
	-webkit-filter: blur(0px);
	filter: blur(0px);
	opacity: 0.8;
	width: 100%;
	height: 209%;
	background: #FFF;
	border-radius: 5px;
	border-top: 5px solid #FF656C;
	position: absolute;
}
H1
{
}
A
{
	margin-top: -16px;
	padding-top: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-style: normal;
	font-size: 17px;
	line-height: 3.3;
	font-family: GT Walsheim;
	color: #000000;
	/*+placement: 14px 61px;*/
	position: relative;
	left: 14px;
	top: 61px;
	width: 38px;
	height: 39px;
}
A
{
	/*+placement: -72px 10px;*/
	position: relative;
	left: -72px;
	top: 10px;
	line-height: ;
}
IMG
{
	/*+placement: -83px 31px;*/
	position: relative;
	left: -83px;
	top: 31px;
	font-size: 0px;
	color: #000000;
}
TABLE
{
	border: 0px;
	/*+placement: 7px -11px;*/
	position: relative;
	left: 7px;
	top: -11px;
	width: ;
	line-height: 1.9;
	font-size: 16px;
	font-family: Fira Sans;
	color: rgba(57, 57, 57, 0.846);
	font-weight: bold;
	font-style: italic;
	text-align: start;
	height: 10px;
	background-color: rgba(188, 193, 200, 0.111);
}
.label
{
	/*+placement: 41px -2px;*/
	position: relative;
	left: 41px;
	top: -2px;
	width: 100px;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	border: 0px;
}
TD
{
	/*+placement: -7px 0px;*/
	position: relative;
	left: -7px;
	top: 0px;
	height: ;
	width: 76px;
}
H1
{
	/*+placement: 11px 19px;*/
	position: relative;
	left: 11px;
	top: 19px;
}
A
{
	/*+placement: 74px -14px;*/
	position: relative;
	left: 74px;
	top: -14px;
}
A
{
	margin-left: -47px;
	margin-right: 0px;
	margin-top: -4px;
	/*+placement: -43px -6px;*/
	position: relative;
	left: -43px;
	top: -6px;
}
A
{
	/*+placement: 67px -11px;*/
	position: relative;
	left: 67px;
	top: -11px;
}
TH
{
	/*+placement: -6px 0px;*/
	position: relative;
	left: -6px;
	top: 0px;
	color: white;
	background-color: blue;
}
H1
{
	color: rgba(0, 0, 255, 0.530);
}
H1
{
	/*+placement: 3px 13px;*/
	position: relative;
	left: 3px;
	top: 13px;
}
IMG
{
	/*+placement: -92px 17px;*/
	position: relative;
	left: -92px;
	top: 17px;
}
A
{
	/*+placement: -40px -4px;*/
	position: relative;
	left: -40px;
	top: -4px;
}
